# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install
      - name: Install
        run: npm ci

      # Build with Next.js
      - name: Build Next.js
        run: npm run build

      # Export static files
      - name: Export static files
        run: npm run export

      # Skip Jekyll build
      - name: Skip Jekyll build
        run: touch out/.nojekyll

      # Deploy to GitHub Pages
      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: git@github.com:yodalightsabr/conflict-website.git
          BRANCH: gh-pages
          FOLDER: out
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_PRIVATE_KEY }}
